In [1]:
#import the library for data analysis, this can be used like excel.(pandas is better for data modification and aggregation)
import pandas as pd
import numpy as np
# read the train data and test data
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [2]:
## try to compare the surviver between male and female
#import 2D plotting library
import matplotlib.pyplot as plt
# import statistical data visualization based on matplotlib
import seaborn as sns
# the function to output graph on jupyternotebook
%matplotlib inline

In [3]:
## preprocess the dataset including missing data 
#  1.Replace missing data with surrogate data
#  2.Convert character string categorical data to numbers

# Let's clean train dataset. There were missing data in three columns "Age", "Embarked" and "Cabin" in train. 
# Since "Cabin" is too many missing value; therefore I don't use 
# therefore let's clean up the two missing data "Age" and "Embarked".
# "Age", let's simply use the median of all data of train as surrogate data. (It is very important and big discussion as to what to use with surrogate data and what kind of processing to add, but I will think about it simply here)

# Next is "Embarked" (departure point), but only two missing data are included in the train.
# When checking other data, "S" was the most frequent value, let's use "S" as surrogate data.
# fill in surrogate data using fillna () in each column. 

train["Age"] = train["Age"].fillna(train["Age"].median())
train["Embarked"] = train["Embarked"].fillna("S")

In [4]:
# Now that the missing data has been processed, 
# convert the categorical data string to a number next. 
# Columns that have character strings as values in the items used in this forecast are "Sex" and "Embarked". 
# Sex is the two character strings "male" and "female".
# Embarked is three character strings "S" "C" "Q". 
# Let's convert them to numbers.
train["Sex"] = train["Sex"].map({"male" : 0, "female" : 1})
train["Embarked"] = train["Embarked"].map({"S" : 0, "C" : 1, "Q" : 2})

In [5]:
# I converted the missing data of "Age" to the median, and the numerical value of the string value (Age and Embarked). 
# Furthermore, in test, there was only one missing data in "Fare", so I used the median (Median) as proxy data. 
# make sure to check the contents of the data with head ().

test["Age"] = test["Age"].fillna(test["Age"].median())
test["Sex"] = test["Sex"].map({"male" : 0, "female" : 1})
test["Embarked"] = test["Embarked"].map({"S" : 0, "C" : 1, "Q" : 2})
test.Fare[152] = test.Fare.median()
 
test.head(3)

C:\Users\k\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,0

In [6]:
#delete column we don't need
train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [12]:
## randomforest model
# import random forest
from sklearn.ensemble import RandomForestClassifier

# get the value of objective valuable and explanatory variable of "train" data
# use 7 valuables as well as other methods
target = train["Survived"].values
features = train[["Pclass", "Age", "Sex", "Fare", "SibSp","Parch", "Embarked"]].values

# model is random forest(use default parameter)
forest = RandomForestClassifier(n_estimators = 10)
forest = forest.fit(features, target)

# retrive the valuable from test
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp","Parch", "Embarked"]].values

# make prediction and write to csv
my_prediction_forest = forest.predict(test_features)
PassengerId = np.array(test["PassengerId"]).astype(int)
my_solution_forest = pd.DataFrame(my_prediction_forest, PassengerId, columns=["Survived"])
my_solution_forest.to_csv("my_tree5.csv", index_label=["PassengerId"])

In [13]:
## gradient boosting model
# import random forest
from sklearn.ensemble import GradientBoostingClassifier

# get the value of target valuable and explanatory variable of "train"
# use 7 valuables as well as other methods
target = train["Survived"].values
features = train[["Pclass", "Age", "Sex", "Fare", "SibSp","Parch", "Embarked"]].values

# model is random forest with gradientbooting classiier ※parameter is default.
forest = GradientBoostingClassifier(n_estimators = 10)
forest = forest.fit(features, target)

# retrive the valuable from test
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp","Parch", "Embarked"]].values

# make prediction and write to csv
my_prediction_forest = forest.predict(test_features)
PassengerId = np.array(test["PassengerId"]).astype(int)
my_solution_forest = pd.DataFrame(my_prediction_forest, PassengerId, columns=["Survived"])
my_solution_forest.to_csv("my_tree6.csv", index_label=["PassengerId"])